<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class=""><div class="aHl"></div><div id=":i5" tabindex="-1"></div><div id=":ph" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTgwOTMxODMzNTg0NjQwODI0OSJd; 4:WyIjbXNnLWY6MTgwOTMxODMzNTg0NjQwODI0OSIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLDBd"><div id=":pg" class="a3s aiL "><table cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="background:#fff">
    <tbody>
    <tr>
        <td style="height:22px;font-size:0;line-height:0">&nbsp;</td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody><tr>
                    <td width="280">&nbsp;</td>
                    <td width="80">
                        <a href="#" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.kurly.com&amp;source=gmail&amp;ust=1726025487730000&amp;usg=AOvVaw027BJv9MCuYno37nZAF3pO"><img src="https://github.com/user-attachments/assets/97e43864-23d5-4f0d-844d-8a8e20aeade2" alt="딜리버리 로고" width="80" height="61" border="0" style="display:block" class="CToWUd" data-bit="iit"></a>
                    </td>
                    <td width="280">&nbsp;</td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    <tr>
        <td style="height:13px;font-size:0;line-height:0">&nbsp;</td>
    </tr>
    <tr style="margin-bottom: 5px">
        <td align="center">
            <p style="text-decoration: none;  margin:0; padding:0; font-size:12px; color:#333; line-height:18px; letter-spacing:-0.1px">
                ${ email }님 안녕하세요 딜리버리입니다.
            </p>
            <p style="margin:0;padding:0;font-size:12px;color:#333;line-height:18px;letter-spacing:-0.1px">
                아래 코드를 <strong style="font-size:12px;color:#333;line-height:18px;letter-spacing:-0.1px"></strong>10분 이내에</strong> 입력해주세요.
            </p>
        </td>
    </tr>
    <tr>
        <td style="height:19px;font-size:0;line-height:0">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align:center;vertical-align:top">
            <strong style="font-size:14px;color:#5f0080;line-height:18px">유효 시간 : ${formattedExpiredTime}</strong>
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size:12px;color:#999;line-height:20px;text-align:center;vertical-align:top">
            유효 시간 내에 코드를 입력해주세요.
        </td>
    </tr>
    <tr>
        <td style="height:29px;font-size:0;line-height:0">&nbsp;</td>
    </tr>
    <tr style="padding-bottom: 5px">
        <td align="center" style="padding-bottom: 5px; font-size: 15px; color: black; text-align: center">
            인증 코드
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size:12px;color:#999;line-height:10px;text-align:center;vertical-align:top">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody><tr>
                    <td width="235">&nbsp;</td>
                    <td width="170" style="font-size: 20px; background-color: #5f0080; border-radius: 6px;">
                        <p  style="color: #fff; text-align: center;">${token}</p>
                    </td>
                    <td width="235">&nbsp;</td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    <tr>
        <td style="height:40px;font-size:0;line-height:0">&nbsp;</td>
    </tr>
    </tbody>
</table>
</div>
</div>
</body>
</html>